In [5]:
name='python'

# strings are in red colour
# variables are in black colour
# keywordare in green colour

In [6]:
type(name)

str

In [1]:
name1="python"
type(name1)

str

In [7]:
print(name)       # careful with print statement

python

In [4]:
print(name1)       # careful with print statement

python

In [5]:
name2='i like "python"'
print(name2)

# entire string in single quotes
# python word is in double quotes

i like "python"

In [6]:
name3="i like 'python'"
print(name3)

i like 'python'

## triple quotes

- triple quotes meanings is ======> doc string

- if you want to convey the information to user

- in juiter notebook: "markdown"

- but in another plate forms like "vscode,pycharm =====>dont have markdown"

- at that place to convey the information we use triple quotes

- that is called docstring

In [ ]:
name4="""python"""

In [9]:
import random
random.randint(10,20)

15

- type 
- max 
- min
- len
- reversed
- sorted`
- concatenation
- index

In [7]:
name='python'
max(name)

# keyword(<variable_name>)
# print(name)
# type(name)

'y'

$ASCII$

- American Standard Code Information Interchange
- A: 65
- a:97

## ord-chr :

In [8]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('n')

(112, 121, 116, 104, 110)

In [14]:
ord('g'),chr(99)

(103, 'c')

In [9]:
max('python')

'y'

In [10]:
min('python')

'h'

In [17]:
chr(112),chr(116),chr(104),chr(110),chr(121)

('p', 't', 'h', 'n', 'y')

In [17]:
str='123-100'
max(str1)

'3'

In [15]:
str1='123-100'
min(str1)

'-'

In [19]:
print(len(str1))

7

In [18]:
ord('-'),ord('3'),ord('1'),ord('2')

(45, 51, 49, 50)

In [1]:
# How many ascii values are existing

for i in range(33,128):
    print(i, '=',chr(i),end=', ')

33 = !, 34 = ", 35 = #, 36 = $, 37 = %, 38 = &, 39 = ', 40 = (, 41 = ), 42 = *, 43 = +, 44 = ,, 45 = -, 46 = ., 47 = /, 48 = 0, 49 = 1, 50 = 2, 51 = 3, 52 = 4, 53 = 5, 54 = 6, 55 = 7, 56 = 8, 57 = 9, 58 = :, 59 = ;, 60 = <, 61 = =, 62 = >, 63 = ?, 64 = @, 65 = A, 66 = B, 67 = C, 68 = D, 69 = E, 70 = F, 71 = G, 72 = H, 73 = I, 74 = J, 75 = K, 76 = L, 77 = M, 78 = N, 79 = O, 80 = P, 81 = Q, 82 = R, 83 = S, 84 = T, 85 = U, 86 = V, 87 = W, 88 = X, 89 = Y, 90 = Z, 91 = [, 92 = \, 93 = ], 94 = ^, 95 = _, 96 = `, 97 = a, 98 = b, 99 = c, 100 = d, 101 = e, 102 = f, 103 = g, 104 = h, 105 = i, 106 = j, 107 = k, 108 = l, 109 = m, 110 = n, 111 = o, 112 = p, 113 = q, 114 = r, 115 = s, 116 = t, 117 = u, 118 = v, 119 = w, 120 = x, 121 = y, 122 = z, 123 = {, 124 = |, 125 = }, 126 = ~, 127 = ,

In [3]:
for i in range(49,100):
    print(i, '=',chr(i),end=',')

49 = 1,50 = 2,51 = 3,52 = 4,53 = 5,54 = 6,55 = 7,56 = 8,57 = 9,58 = :,59 = ;,60 = <,61 = =,62 = >,63 = ?,64 = @,65 = A,66 = B,67 = C,68 = D,69 = E,70 = F,71 = G,72 = H,73 = I,74 = J,75 = K,76 = L,77 = M,78 = N,79 = O,80 = P,81 = Q,82 = R,83 = S,84 = T,85 = U,86 = V,87 = W,88 = X,89 = Y,90 = Z,91 = [,92 = \,93 = ],94 = ^,95 = _,96 = `,97 = a,98 = b,99 = c,

In [21]:
for i in range(100):
    print(i, '=',chr(i),end=', ')

0 =  , 1 = , 2 = , 3 = , 4 = , 5 = , 6 = , 7 = , 8 = , 9 = 	, 10 =
, 14 = , 15 = , 16 = , 17 = , 18 = , 19 = , 20 = , 21 = , 22 = , 23 = , 24 = , 25 = , 26 = , 27 = , 28 = , 29 = , 30 = , 31 = , 32 =  , 33 = !, 34 = ", 35 = #, 36 = $, 37 = %, 38 = &, 39 = ', 40 = (, 41 = ), 42 = *, 43 = +, 44 = ,, 45 = -, 46 = ., 47 = /, 48 = 0, 49 = 1, 50 = 2, 51 = 3, 52 = 4, 53 = 5, 54 = 6, 55 = 7, 56 = 8, 57 = 9, 58 = :, 59 = ;, 60 = <, 61 = =, 62 = >, 63 = ?, 64 = @, 65 = A, 66 = B, 67 = C, 68 = D, 69 = E, 70 = F, 71 = G, 72 = H, 73 = I, 74 = J, 75 = K, 76 = L, 77 = M, 78 = N, 79 = O, 80 = P, 81 = Q, 82 = R, 83 = S, 84 = T, 85 = U, 86 = V, 87 = W, 88 = X, 89 = Y, 90 = Z, 91 = [, 92 = \, 93 = ], 94 = ^, 95 = _, 96 = `, 97 = a, 98 = b, 99 = c,

In [27]:
for i in range(10):
    print(i,'=',chr(i),end=',')

0 =  ,1 = ,2 = ,3 = ,4 = ,5 = ,6 = ,7 = ,8 = ,9 = 	,

In [1]:
'Banana'>'banana'    # 'B':66   'b':99   66>99

False

In [2]:
'Banana'>'BAanana'    # a='97'      'A'=65

True

## len :-

In [28]:
s1='i like pytthon'
len(s1)

14

In [33]:
str2=''                          # it has empty string
len(str2)

0

In [25]:
str3=' '          #  it has one space
len(str3)

1

In [26]:
reversed('python')

# <output is stored inherently>
# we use the for loop to get the output

## in :-

In [79]:
'p'in'python'
'y'in'python'
'Y'in'python'
'h'in'python'
'o'in'python'
'n'in'python'

for i in  'python':
    print(i)    # generlized

p
y
t
h
o
n

In [2]:
for i in reversed('python'):
    print(i)

n
o
h
t
y
p

In [10]:
reversed('python')

In [41]:
for i in reversed('friends'):
    print(i)

s
d
n
e
i
r
f

In [35]:
s1='apple'
for i in s1:
    print(i)

a
p
p
l
e

In [36]:
n1='asif'
for i in n1:
    print(i)

a
s
i
f

In [11]:
for i in reversed('asif'):
    print (i)

f
i
s
a

In [37]:
sorted('python')
# by default reversed =False: acending order
# sorted keyword sort the letter
# [104,110,111,112,116,121]

['h', 'n', 'o', 'p', 't', 'y']

In [85]:
sorted('python',reverse=True)      # assending order (1<0)

['y', 't', 'p', 'o', 'n', 'h']

In [87]:
sorted('python',reverse=False)      # dessending order (0>1)

['h', 'n', 'o', 'p', 't', 'y']

In [38]:
for i in 'python':
    print(i,ord(i))

p 112
y 121
t 116
h 104
o 111
n 110

In [90]:
for i in 'hyderabad':
    print(i,ord(i))

h 104
y 121
d 100
e 101
r 114
a 97
b 98
a 97
d 100

In [39]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [40]:
sorted('python',reverse=False)

['h', 'n', 'o', 'p', 't', 'y']

In [12]:
for i in 'python':
    print(i,ord(i))

p 112
y 121
t 116
h 104
o 111
n 110

- type

- max

- min

    - ord
    
    - chr
    
- len

- reversed

- in

- sorted

In [16]:
str1='hello'
str2='python'


# Concatination
str1+'  '+str2

#'hello'+'python'

'hello  python'

In [ ]:
str1+str2     #'hellopython'
str1-str2      # error
str1*str2       # error
str/str2    # error

In [42]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [43]:
str1*str2      #
# str and str
# non int type ans str

TypeError: can't multiply sequence by non-int of type 'str'

In [44]:
3*str2

'pythonpythonpython'

In [45]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

-type

- max

- min

    - ord
    
    - chr
    
- len

- reversed

- in

- sorted

- concatenation

## index :

#### in python index start with zero

In [1]:
str1='python'


# -6  -5  -4  -3  -2  -1 
#  p   y   t   h   o   n
# 0   1   2   3   4   5  

str1

'python'

In [5]:
s1='asif'
s1[0],s1[1],s1[2],s1[3]

('a', 's', 'i', 'f')

In [7]:
str1='Aasif'

In [11]:
str1[0]
str1[1]
str1[2]
str1[3]
str1[4]
str1[5]

#for i in range(6):
    #print(str1[i])

IndexError: string index out of range

In [98]:
for i in range(4):
    print(s1[i])

a
s
i
f

In [3]:
str1='python'
# i want to iterate this
# in: i means direct letter
# range : i means number

In [4]:
str1='python'
for i in str1:
    print(i,end=' ')

p y t h o n

In [4]:
str1='python'
#len(str1)
for i in range(6):
    print(str1[i],end=' ')

p y t h o n

In [102]:
str1='python'

for i in str1:
    
    print(i,end=' ')
    
##############################

str1='python'

for i in range(6):
    
    print(str1[i],end=' ')

p y t h o n p y t h o n

In [ ]:
######################################################################

## in-range

In [ ]:
in=====i====> direct char
range  ==== i number

In [106]:
s1='python'
n=len(s1)
for i in range(n):
    print(i,s1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [24]:
s=0
num=eval(input("enter number:"))
for i in range(1,num):
    s=s+i
    print(s)

enter number:11
1
3
6
10
15
21
28
36
45
55

In [5]:
# wap print the index of a given number
# str1='python'
# o/p:   the index of p is 0
#        the index of y is 1


str1='python'
n=len(str1)
for i in range(n):
    print(f"the positive of {str1[i]} is {i}")

the positive of p is 0
the positive of y is 1
the positive of t is 2
the positive of h is 3
the positive of o is 4
the positive of n is 5

In [7]:
# o/p : the negitive index of p is -6
#        the negitive index of y is -5
# try to print -6 to -1

string1='python'
n=len(string1)
# print(n) # 6  -6  n=== >  -n
for i in range(-n,0):
    #print(i,string1[i])
    print(f"the negitive index of {string1[i]} is {i}")

the negitive index of p is -6
the negitive index of y is -5
the negitive index of t is -4
the negitive index of h is -3
the negitive index of o is -2
the negitive index of n is -1

In [ ]:

string1='python'
n=len(string1)
for i in range(n):       # 0 to len(string)-1
    print(f"the positive of {string1[i]} is {i}")
    
    

for i in range(-n,0):  # -len(string) to -1
    print(f"the negitive of {string1[i]} is {i}")

- positive: 0 to len (string1)-1`
    
    - range (0,len(string1))

    - start=0    end=last-1  : len(string1)-1
    
    
-  negitive: - len(string1) to-1
     - range(len(sting1),0)
     - start=-len(string1),end=last-1 0-1=-1

In [26]:
s1="hello how are you"

n=len(s1)
for i in range(n):    
    print(f"the positive of {s1[i]} is {i}")

the positive of h is 0
the positive of e is 1
the positive of l is 2
the positive of l is 3
the positive of o is 4
the positive of   is 5
the positive of h is 6
the positive of o is 7
the positive of w is 8
the positive of   is 9
the positive of a is 10
the positive of r is 11
the positive of e is 12
the positive of   is 13
the positive of y is 14
the positive of o is 15
the positive of u is 16

In [27]:
for i in range(-n,0):  # -len(string) to -1
    print(f"the negitive index of {s1[i]} is {i}")

the negitive index of h is -17
the negitive index of e is -16
the negitive index of l is -15
the negitive index of l is -14
the negitive index of o is -13
the negitive index of   is -12
the negitive index of h is -11
the negitive index of o is -10
the negitive index of w is -9
the negitive index of   is -8
the negitive index of a is -7
the negitive index of r is -6
the negitive index of e is -5
the negitive index of   is -4
the negitive index of y is -3
the negitive index of o is -2
the negitive index of u is -1

In [28]:
# the positive index is 0 and negitive index is -6 for p
# the positive index is 5 and negitive index is -1 for p


s1='python'
n=len(s1)  # 6
for i in range(n):
    print(i,i-n)

0 -6
1 -5
2 -4
3 -3
4 -2
5 -1

In [ ]:
# Task is implement the same
# q1) positive index
# q2) negitive index
# q3) pos and neg together
# using while loop
# screenshot in whatsapp group

In [133]:
# Task is implement the same
# q1) positive index

In [125]:
s1='hello hyderabad'
for i in range(len(s1)):
    print(f"the Negitive index of {s1[i]} is {i-16}")
len(s1)

the Negitive index of h is -16
the Negitive index of e is -15
the Negitive index of l is -14
the Negitive index of l is -13
the Negitive index of o is -12
the Negitive index of   is -11
the Negitive index of h is -10
the Negitive index of y is -9
the Negitive index of d is -8
the Negitive index of e is -7
the Negitive index of r is -6
the Negitive index of a is -5
the Negitive index of b is -4
the Negitive index of a is -3
the Negitive index of d is -2

15

In [132]:
# Task is implement the same
# q2) negitive index
# using while loop

In [126]:
s1='hello hyderabad'
for i in range(len(s1)):
    print(f"the positive index of {s1[i]} is {i}")

the positive index of h is 0
the positive index of e is 1
the positive index of l is 2
the positive index of l is 3
the positive index of o is 4
the positive index of   is 5
the positive index of h is 6
the positive index of y is 7
the positive index of d is 8
the positive index of e is 9
the positive index of r is 10
the positive index of a is 11
the positive index of b is 12
the positive index of a is 13
the positive index of d is 14

In [131]:
# Task is implement the same
# q3) pos and neg together
# using while loop

In [130]:
s1='your dropded grourgious'
for i in range(len(s1)):
    print(f"the positive index of {s1[i]} is {i} the negitive index of {s1[i]} is {i-24}")

the positive index of y is 0 the negitive index of y is -24
the positive index of o is 1 the negitive index of o is -23
the positive index of u is 2 the negitive index of u is -22
the positive index of r is 3 the negitive index of r is -21
the positive index of   is 4 the negitive index of   is -20
the positive index of d is 5 the negitive index of d is -19
the positive index of r is 6 the negitive index of r is -18
the positive index of o is 7 the negitive index of o is -17
the positive index of p is 8 the negitive index of p is -16
the positive index of d is 9 the negitive index of d is -15
the positive index of e is 10 the negitive index of e is -14
the positive index of d is 11 the negitive index of d is -13
the positive index of   is 12 the negitive index of   is -12
the positive index of g is 13 the negitive index of g is -11
the positive index of r is 14 the negitive index of r is -10
the positive index of o is 15 the negitive index of o is -9
the positive index of u is 16 the negitive index of u is -8
the positive index of r is 17 the negitive index of r is -7
the positive index of g is 18 the negitive index of g is -6
the positive index of i is 19 the negitive index of i is -5
the positive index of o is 20 the negitive index of o is -4
the positive index of u is 21 the negitive index of u is -3
the positive index of s is 22 the negitive index of s is -2

In [29]:
#  wap find the number of 'a' present in a given string
#  s1='hello how are you i am good'
# ans: 2
#  count=0
# idea: iterate  using for loop
#       get each letter
#       whenever that letter equal to a
#      count=count+1


s1='hello how are you i am good'
count=0
for i in s1:
     if i =='a':
        count=count+1
print("the total number of 'a' are:",count)

the total number of 'a' are: 2

In [137]:
# wap find the indexes of 'a' present
# s1='hello how are you i am good'
# ans: 10,20

# idea: iterate the loop using range
#        automatically i becomes number
#        condition
#        print only i


s1='hello how are you i am good'
for i in range(len(s1)):
    if s1[i]=='o':
        print(i,s1[i])

4 o
7 o
15 o
24 o
25 o

In [6]:
s1='hello how are you i am good'
count=0
for i in s1:
    if i=='h':   # a==a
        count=count+1
        
print("the total number a of  are:",count)
      
#s1='hello how are you i am good'
#for i in range(len(s1)):
#      if s1[i]=='a':
#      print(i)

the total number a of  are: 2

In [26]:
#WAP ask the user find the number vowels in a given string
# s1='hello how are you'

s1='hello how are you i am good'
for i in range(len(s1)):
    if s1[i]=='a' or s1[i]=='e' or s1[i]=='i' or s1[i]=='o' or s1[i]=='u':
        print(s1[i],i)

e 1
o 4
o 7
a 10
e 12
o 15
u 16
i 18
a 20
o 24
o 25

In [15]:
s1='hello how are you i am good'
count=0
for i in range(len(s1)):
    if s1[i] in 'aeiou':
        count=count+1
print("the number of vowels are:",count)

the number of vowels are: 11

- positive index
- negitive index
- positive and negitive
- number of'a'
- vowel in a given string

In [14]:
# in the above problem vowel are repating
# you need to print only single vowel
s1='abca'
s2=''
for i in s1:
    if i in 'aeiou':
        if i not in s2:
            s2=s2+i
            
print(len(s2))

1

$mutable$ -$immutable$

-  change the element by using index operation

In [ ]:
s1='hello'

# can we change 'l'  to 'L'
# s1='hello'

# will you achive this by using index operation

In [9]:
s1='hello'
s1[2]='L'

TypeError: 'str' object does not support item assignment

## Note

- Strings are immutable

In [7]:
l1=[1,2,3]
l1[1]=200

In [8]:
l1

[1, 200, 3]

In [ ]:
################ Day 2 ##########################################

- Postive index
- Negative index
- Postive and Negative
- Number of 'a'
- Index of 'a'
- Vowels in a given string
- unique vowels

In [2]:
str1='python'
n=len(str1)
for i in range(n):
    print(f" positive index of {str1[i]} is {i}")

 positive index of p is 0
 positive index of y is 1
 positive index of t is 2
 positive index of h is 3
 positive index of o is 4
 positive index of n is 5

In [3]:
tr1='python'
n=len(str1)
for i in range(-n,0):
    print(f" positive index of {str1[i]} is {i}")

 positive index of p is -6
 positive index of y is -5
 positive index of t is -4
 positive index of h is -3
 positive index of o is -2
 positive index of n is -1

In [1]:
s1='hello how are you'

$slice$

In [ ]:

# -17-16-15 -14 -13 -12 -11 -10 -9 -8 -7  -6 -5 -4 -3  -2  -1 
# h   e  l  l   o       h   o   w     a   r  e     y   o   u
# 0   1  2  3   4   5   6   7   8  9  10 11 12 13 14  15  16

In [2]:
s1[11:-11:-1] # answer
s1[11:-3:-1]  # no answer
s1[11:-11:1]  # no answer
s1[11:-3:1]   # answer

're '

In [ ]:
-17  -16 -15 -14 -13 -12  -11 -10 -9 -8 -7  -6  -5  -4  -3 -2  -1
  h   e   l   l   o   h    o   w   a  r  e   y   o   u   a  e  o
  0   1   2   3   4   5    6   7   8  9 10  11  12  13  14 15  16


s1[3:-14:2] # Np start=3 step=2 + last= -14-1=-15
s1[3:14:2] # P
s1[-3:-14:-2] # P
s1[-3:14:-2] # Np start=-3 step=-2 -ve stop=14+1=15
s1[-3:-14:2] # NP
s1[3:14:-2] # NP
s1[3:-14] # satrt=3 last= -14-1=-15
s1[3:-14:-1] # start=3 dire=-ve last = -14+1=-13



s1[;]
s1[::1]  # [:::]
s1[::]
s1[::-1]

In [9]:
s1[3:-14:2]

''

In [3]:
s1[3:-14:-1]

''

In [ ]:
s1[<start>:<stop>] ---- range(start,stop)
s1[start:stop:step] ---- range(Start,stop,step)

In [ ]:
s1[2:10] # start=2 dire =+ 1 stop=10-1=9
s1[2:10:2] # start=2 dire= + 2 stop=10-1=9
# 2 4 6 8

In [4]:
s1[11:-3:-1]
# start=11
# dire = -ve 1
# last= -3+1=-2
for i in range(11,-3,-1):print(i,end=' ')

11 10 9 8 7 6 5 4 3 2 1 0 -1 -2

In [5]:
s1[11:-3:-1]

''

In [6]:
for i  in range(20,2,3):print(i,end=' ')

- How to read strings
- Different ways single-quotes doule-quotes triple-quotes
- type
- min
- max
- len
- reversed
- sorted
- ord
- chr
- in
- in vs range
- index
- mutable immutable
- concatenation
- slice

$String-Methouds$

In [13]:
s1='python'
#we stored 'python' in a variable s1
#s1 act as package
#every package has some methouds
#dir(package)
#dir(s1)  # dir('')

In [7]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

$Capitalize$

In [14]:
s1='.python'
# s1 act as package
# capitalize act as methoud
# help (<package>).<methoud_name>

#help(s1.capitalize)
s1.capitalize()

'.python'

In [ ]:
s1='python'
s1.capitalize()

In [ ]:
# key words  vs methoud

len()                 capitalize(s1) (wrong)
max()
min()


s1.capitalize()
# keywords belongs to entire python
# methouds are related to only that data type

$upper-lower-casefold$

In [15]:
s1='python'
s1.upper()

'PYTHON'

In [16]:
s1='python'
s1.lower()

'python'

In [17]:
s1='pyThon'
s1.lower()

'python'

In [18]:
s1='PyThon'
s1.casefold()

'python'

$count$

In [ ]:
# we already have lower case right,why again casefold

In [10]:
s1='hai haaaaai hai iiiiiiii'    # how many a

count=0
for i in s1:
    if i=='a':
        count=count+1
count

7

In [11]:
s1.count('a')

7

In [26]:
s1='ola oal oal'
s1.count('ola')
s1.count('ola ')
s1.count(s1)  # s1.count('ola ola ola')

1

In [8]:
s1.count('o') # 'ola ola ola'
s1.count('o',2) # 'a ola ola'
s1.count('o',2,5) # 'a ol'

1

In [9]:
s1.count('oa')

0

In [10]:
#'ol a ol a ola'
# 012
s1.count('o',2,5)

1

$replace$

In [11]:
s1='welcome'
# replace  'L'  with ' L'
s1.replace('c','C')

'welCome'

In [31]:
s1='welcom'
# replace  'L'  with ' L'
s1.replace('c','C')
s1.replace('l','L')

'weLcom'

In [31]:
s1='wellllcome'
s1.replace('l','L',3)    # [Shift+Tab]   # inside the bracket
#s1.count('z')     #  no error

# whenever slash (/) symbol is there 
# dont give any argument name

'weLLLlcome'

In [34]:
s1='wellllcomez'
s1.replace('z','L') # no error
s1.count('z')    # 0 no error

1

In [41]:
s1='restart'
s1.replace('r','$',2)
s1
# M-1
s1='replace'
s1[0]  # index
s1[1:].replace('r','$')  # slice replace
print(s1+s2)

NameError: name 's2' is not defined

In [43]:
s1='restart'

In [45]:
s1.replace('r','$',1)
s1(::-1)
s1

SyntaxError: invalid syntax (4123022140.py, line 2)

In [11]:
s2='hyderaabad hyd'
i = s2.index('a')
b = s2[:i]+'@'+ s2[i+1:]
# s2[s2.index('a')] = '$'
# s2.replace('a','@',1)
# s2[0][6]
b

'hyder@abad hyd'

In [8]:
l5='hello'
l6=l5.index('o')
l7=l5[:]
l5

'hello'

In [ ]:
###################################   practice   ###########################################3

In [9]:
s1='hyd''kmrwrl'
len(s1)

9

In [51]:
ord('a'),ord('h'),ord('b'),ord('i'),ord("g")

(97, 104, 98, 105, 103)

In [61]:
chr(123),chr(55),chr(67),chr(78),chr(8),chr(7),chr(1),chr(33),chr(32)

('{', '7', 'C', 'N', '\x08', '\x07', '\x01', '!', ' ')

In [65]:
for i in range(33,101):
    print(i,'=',chr(i),end=',')

33 = !,34 = ",35 = #,36 = $,37 = %,38 = &,39 = ',40 = (,41 = ),42 = *,43 = +,44 = ,,45 = -,46 = .,47 = /,48 = 0,49 = 1,50 = 2,51 = 3,52 = 4,53 = 5,54 = 6,55 = 7,56 = 8,57 = 9,58 = :,59 = ;,60 = <,61 = =,62 = >,63 = ?,64 = @,65 = A,66 = B,67 = C,68 = D,69 = E,70 = F,71 = G,72 = H,73 = I,74 = J,75 = K,76 = L,77 = M,78 = N,79 = O,80 = P,81 = Q,82 = R,83 = S,84 = T,85 = U,86 = V,87 = W,88 = X,89 = Y,90 = Z,91 = [,92 = \,93 = ],94 = ^,95 = _,96 = `,97 = a,98 = b,99 = c,100 = d,

In [77]:
for i in range(ord("a")):
    print(i,'=',end=',')

0 =,1 =,2 =,3 =,4 =,5 =,6 =,7 =,8 =,9 =,10 =,11 =,12 =,13 =,14 =,15 =,16 =,17 =,18 =,19 =,20 =,21 =,22 =,23 =,24 =,25 =,26 =,27 =,28 =,29 =,30 =,31 =,32 =,33 =,34 =,35 =,36 =,37 =,38 =,39 =,40 =,41 =,42 =,43 =,44 =,45 =,46 =,47 =,48 =,49 =,50 =,51 =,52 =,53 =,54 =,55 =,56 =,57 =,58 =,59 =,60 =,61 =,62 =,63 =,64 =,65 =,66 =,67 =,68 =,69 =,70 =,71 =,72 =,73 =,74 =,75 =,76 =,77 =,78 =,79 =,80 =,81 =,82 =,83 =,84 =,85 =,86 =,87 =,88 =,89 =,90 =,91 =,92 =,93 =,94 =,95 =,96 =,

In [115]:
s1="hii ra maccha"
for i in range(len(s1)):
    print(f"he positive index of {s1[i]} is {i} and negative index  {s1[i]} is {i-13}")

he positive index of h is 0 and negative index  h is -13
he positive index of i is 1 and negative index  i is -12
he positive index of i is 2 and negative index  i is -11
he positive index of   is 3 and negative index    is -10
he positive index of r is 4 and negative index  r is -9
he positive index of a is 5 and negative index  a is -8
he positive index of   is 6 and negative index    is -7
he positive index of m is 7 and negative index  m is -6
he positive index of a is 8 and negative index  a is -5
he positive index of c is 9 and negative index  c is -4
he positive index of c is 10 and negative index  c is -3
he positive index of h is 11 and negative index  h is -2
he positive index of a is 12 and negative index  a is -1

In [118]:
d1='hello baby hoe are you and what you doing now'
for i in range(len(d1)):
    print(f"the positive index of {d1[i]} is {i} the negitive index of {d1[i]} is {i-45}")

the positive index of h is 0 the negitive index of h is -45
the positive index of e is 1 the negitive index of e is -44
the positive index of l is 2 the negitive index of l is -43
the positive index of l is 3 the negitive index of l is -42
the positive index of o is 4 the negitive index of o is -41
the positive index of   is 5 the negitive index of   is -40
the positive index of b is 6 the negitive index of b is -39
the positive index of a is 7 the negitive index of a is -38
the positive index of b is 8 the negitive index of b is -37
the positive index of y is 9 the negitive index of y is -36
the positive index of   is 10 the negitive index of   is -35
the positive index of h is 11 the negitive index of h is -34
the positive index of o is 12 the negitive index of o is -33
the positive index of e is 13 the negitive index of e is -32
the positive index of   is 14 the negitive index of   is -31
the positive index of a is 15 the negitive index of a is -30
the positive index of r is 16 the negitive index of r is -29
the positive index of e is 17 the negitive index of e is -28
the positive index of   is 18 the negitive index of   is -27
the positive index of y is 19 the negitive index of y is -26
the positive index of o is 20 the negitive index of o is -25
the positive index of u is 21 the negitive index of u is -24
the positive index of   is 22 the negitive index of   is -23
the positive index of a is 23 the negitive index of a is -22
the positive index of n is 24 the negitive index of n is -21
the positive index of d is 25 the negitive index of d is -20
the positive index of   is 26 the negitive index of   is -19
the positive index of w is 27 the negitive index of w is -18
the positive index of h is 28 the negitive index of h is -17
the positive index of a is 29 the negitive index of a is -16
the positive index of t is 30 the negitive index of t is -15
the positive index of   is 31 the negitive index of   is -14
the positive index of y is 32 the negitive index of y is -13
the positive index of o is 33 the negitive index of o is -12
the positive index of u is 34 the negitive index of u is -11
the positive index of   is 35 the negitive index of   is -10
the positive index of d is 36 the negitive index of d is -9
the positive index of o is 37 the negitive index of o is -8
the positive index of i is 38 the negitive index of i is -7
the positive index of n is 39 the negitive index of n is -6
the positive index of g is 40 the negitive index of g is -5
the positive index of   is 41 the negitive index of   is -4
the positive index of n is 42 the negitive index of n is -3
the positive index of o is 43 the negitive index of o is -2
the positive index of w is 44 the negitive index of w is -1