In [ ]:
- Lambda functions is also a kind of functions reresentation

- More efficient way

In [2]:
def summ(num):
    return(num+10)

summ(10)

# the function name is summ
# the variable name is num 
# the return output is num+10

20

In [ ]:
<function_name>=lambda <variable_name>:<return output>

In [1]:
summ=lambda num:num+10
summ(10)

20

In [5]:
def cube(num):
    return(num*num*num)

cube(10)

1000

In [7]:
cube=lambda num:num*num*num
cube(20)

8000

$-Two-arguments$

In [2]:
def add(n1,n2):
    return(n1+n2)
add(100,200)

300

In [ ]:
<function_name>=lambda <var1>,<var2>:<return output>

In [3]:
add=lambda n1,n2 : n1+n2 
add(10,20)

30

In [4]:
def mul(n1,n2):
    return(n1*n2)
mul(10,20)

200

In [1]:
mul=lambda n1,n2 :n1*n2
mul(10,20)

200

In [14]:
sub=lambda n1,n2 :n1-n2
sub(10,20)

-10

In [6]:
def avg(n1,n2,n3):
    return((n1+n2+n3)/3)
avg(100,200,300)

200.0

In [5]:
def avg(num1,num2,num3,num4):
    return(num1+num2+num3+num4)/4
avg(10,20,30,40)

25.0

In [7]:
avg=lambda num1,num2,num3,num4:(num1+num2+num3+num4)/4
avg(10,20,30,40)

25.0

In [7]:
avg=lambda n1,n2,n3 :(n1+n2+n3)/3
avg(10,20,30)

20.0

In [8]:
def avg(n1,n2,n3=300):
    return((n1+n2+n3)/3)
avg(100,200)

200.0

In [8]:
def mul(n1,n2,n3):
    return(n1*n2*n3)
mul(10,20,30)

6000

In [9]:
mul=lambda n1,n2,n3: n1*n2*n3
mul(10,20,30)

6000

## default argumentes

In [10]:
def add(n1,n2,n3=300):
    return(n1+n2+n3)
add(100,200)

600

In [11]:
add=lambda n1,n2,n3=300:(n1+n2+n3)
add(100,200)

600

In [11]:
def avg(n1,n2,n3=300):
    return((n1+n2+n3)/3)
avg(100,200)

200.0

In [10]:
avg=lambda n1,n2,n3=30: (n1+n2+n3)/3
avg(10,20)

20.0

$if-else$

In [2]:
def max(n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)
max(100,200)

200

In [53]:
max=lambda n1,n2:print(n1) if n1>n2 else print(n2)
max(100,400)

400

In [52]:
max=lambda n1,n2:n1>n2
#if n1>n2:
    #print(n1)
#else:
    #print(n2)
max(1000,200)

True

In [ ]:
lambda <v1,v2,v3...>:<output>

if-else we need write in a single 

[<if_output> <if_con> else<else_output>]

<function_name>=lambda <val1,val2>:<if_output> <if_con> else <else_output>

In [24]:
max=lambda n1,n2: n1 if n1>n2 else n2
max(100,200)

200

In [39]:
list1=['hyd','mumbai','chennai']
#list2=['HYD','MUMBAI','CHENNAI']

######################################
list2=[]
for i in list1:
    list2.append(i.capitalize())
    
##########################################

list2=[i.capitalize() for i in list1]
list2

['Hyd', 'Mumbai', 'Chennai']

$map$

In [ ]:
list(map(lambda <variable>:<output>,<iterator>))

In [12]:
list1=['hyd','mumbai','chennai']
list(map(lambda i : i.capitalize(),list1)) # list(map(a,b))

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
list1=['hyd','mumbai','chennai']
# list2=['Hyd','Mumbai','Chennai']
###########################################3

list2=[]
for i in list1:
    list2.append(i,capitalize())

#########################################
list1=['hyd','mumbai','chennai']
list2=list(map(lambda i : i.capitalize(),list1))

In [28]:
l1=[1,2,3,4]
l2=[1,4,9,16]

list(map(lambda i:i*i,l1))

[1, 4, 9, 16]

In [15]:
l1=['hyder#abad','Mum#bai','Chenn#ai','Blr','pune']
# l2=['hyder#abad','Mum#bai','Chenn#ai']
###################################################
l2=[]
for i in l1:
    if '#' in i:
        l2.append(i)
l2
######################################################
l2=[i for i in l1 if '#' in i]
l2

['hyder#abad', 'Mum#bai', 'Chenn#ai']

$filter$

In [13]:
l1=['hyder#abad','mum#bai','chenn#ai','blr','pune']
list(map(lambda i: '#' in i,l1))

[True, True, True, False, False]

In [14]:
l1l1=['hyder#abad','Mum#bai','Chenn#ai','Blr','pune']
list(filter(lambda i : '#' in i,l1))

['hyder#abad', 'mum#bai', 'chenn#ai']

In [ ]:
map means map the input values to output
                    i              i*i
                    i              i.capitalize()
                    i              '#' in i (T/F)

In [ ]:
===========================================================

In [ ]:
$explanation about lambda map and filter$

In [16]:
list1=[1,2,3,4,5,6]
new_values=map(lambda x: x*2, list1)
print(list(new_values))

[2, 4, 6, 8, 10, 12]

In [20]:
list2=[1,2,3,4,5,6]
odd=filter(lambda x: x%2!=0,list2)
print(list(odd))

[1, 3, 5]