- How to read

- How many ways we can represent

- Type

- len

- min

- max

- sorted

- reversed

- Concatenation

- in

- index

- for loop interation

- mutable-immutable

- slice

- Methoud

In [ ]:
str1=''

In [1]:
l1=[1,2,3,4,]

In [2]:
type(l1)

list

In [ ]:
i2=['A','B','C']

In [3]:
l2=['Apple','Banana','Cherry']
l2

['Apple', 'Banana', 'Cherry']

In [4]:
l3=[1,2,3,'A','B','C']
l3

[1, 2, 3, 'A', 'B', 'C']

In [6]:
l4=[1,2,3,'A','B','C',10.5,True, (20+30j)]
l4

[1, 2, 3, 'A', 'B', 'C', 10.5, True, (20+30j)]

In [1]:
l5=[100,100,100]    # duplicates are  allowed in lst
l5

[100, 100, 100]

In [3]:
l6=[1,2,3,['A','B','C']]
l6

[1, 2, 3, ['A', 'B', 'C']]

In [2]:
l1=[1,2,3,4,]
l2=['A','B','C']
l3=[1,2,3,'A','B','C']
l4=[1,2,3,'A','B','C',10.5,True, (20+30j)]
l5=[100,100,100]
l6=[1,2,3,['A','B','C']]

In [21]:
l8=[_]
l8

[[[[[[[['%', '^']]]]]]]]

In [22]:
l9=[_]
l9

[[[[[[[[['%', '^']]]]]]]]]

- List is array of element
- That eliment can be any data type
- Heterogeneous
- List allows duplicates
- List can extend with any values
- List in List possible
- List of underscore , is nothing but list in list

In [26]:
l1

[1, 2, 3, 4]

In [25]:
l1

# len
# min
# max
# sum

len(l1),min(l1),max(l1),sum(l1)

(4, 1, 4, 10)

In [33]:
l2
len(l2),min(l2),max(l2)

(3, 'Apple', 'Cherry')

In [38]:
l3
len(l3)

6

In [4]:
l3

[1, 2, 3, 'A', 'B', 'C']

In [39]:
l4
len(l4)

9

In [3]:
l4

[1, 2, 3, 'A', 'B', 'C', 10.5, True, (20+30j)]

In [30]:
l5
len(l5),min(l5),max(l5),sum(l5)

(3, 100, 100, 300)

In [5]:
l5

[100, 100, 100]

In [40]:
l6

[1, 2, 3, ['A', 'B', 'C']]

In [41]:
len(l6)

4

In [42]:
l66=[[1,2,3],[4,5,6]]
l66

[[1, 2, 3], [4, 5, 6]]

In [43]:
l7

[[[[[[['%', '^']]]]]]]

In [37]:
l6
len(l5),min(l5),max(l5),sum(l5)

(3, 100, 100, 300)

In [8]:
l6

[1, 2, 3, ['A', 'B', 'C']]

$sorted$

In [2]:
l1=[1,2,3,4,]
sorted(l1)

[1, 2, 3, 4]

In [4]:
sorted(l1,reverse=True)

[4, 3, 2, 1]

In [12]:
l1[::-1],l1[0:3],l1[:],l1[::],l1[2:3],l1[3]

([4, 3, 2, 1], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4], [3], 4)

In [5]:
sorted(l1,reverse=False)

[1, 2, 3, 4]

In [50]:
# If you want to do desending order
# reverse=True
sorted(l1,reverse=True)

[4, 3, 2, 1]

In [ ]:
# l5=[1,2,3,4,5]
#  l5[::-1]        #without using sort it can revers the list values

In [51]:
sorted(l2,reverse=True)

['Cherry', 'Banana', 'Apple']

In [53]:
sorted(l3)  #reverse=l3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [56]:
sorted(l3,reverse=True)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# list object is not callable ===== magicc of python

In [55]:
sorted(l4,reverse=True)

TypeError: '<' not supported between instances of 'bool' and 'complex'

In [57]:
l5

[100, 100, 100]

In [60]:
sorted(l5,reverse=True)

[100, 100, 100]

In [61]:
l6

[1, 2, 3, ['A', 'B', 'C']]

In [62]:
sorted(l6,reverse=True)

TypeError: '<' not supported between instances of 'int' and 'list'

$reversed$

In [10]:
l1

[1, 2, 3, 4]

In [64]:
val=reversed(l1)

In [65]:
for i in val:
    print(i)

4
3
2
1

In [66]:
val=reversed(l2)

In [68]:
for i in val:
    print(i)

Cherry
Banana
Apple

In [8]:
l3=[1,2,3,4,5,'a','b']

In [9]:
val=reversed(l3)

In [71]:
val=reversed(l4)

In [72]:
for i in val:
    print(i)

(20+30j)
True
10.5
C
B
A
3
2
1

In [73]:
val=reversed(l5)

In [75]:
for i in val:
    print(i)

100
100
100

In [76]:
val=reversed(l6)

In [77]:
for i in val:
    print(i)

['A', 'B', 'C']
3
2
1

In [78]:
val=reversed(l7)

In [79]:
for i in val:
    print(i)

[[[[[['%', '^']]]]]]

In [80]:
l1+l2

[1, 2, 3, 4, 'Apple', 'Banana', 'Cherry']

In [81]:
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [85]:
l1*3  # l1+l1+l1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

$in$

In [86]:
s1='python'
for i in s1:
    print(i)

p
y
t
h
o
n

In [87]:
for i in l1:
    print(i)

1
2
3
4

In [88]:
for i in l2:
    print(i)

Apple
Banana
Cherry

In [89]:
for i in l3:
    print(i)

1
2
3
A
B
C

In [90]:
for i in l4:
    print(i)

1
2
3
A
B
C
10.5
True
(20+30j)

In [91]:
for i in l5:
    print(i)

100
100
100

In [92]:
for i in l6:
    print(i)

1
2
3
['A', 'B', 'C']

In [93]:
for i in l7:
    print(i)

[[[[[['%', '^']]]]]]

$index$

In [ ]:
-6 -5 -4 -3 -2 -2
p  y   t  h  o  n
0  1  2   3  4  5

In [ ]:
-3     -2      -1
Apple  Banana  Cherry
0      1       2

In [15]:
l2=['Appple','Banana','Cherry']
l2[0],l2[1],l2[2]

('Appple', 'Banana', 'Cherry')

In [16]:
l2[-3],l2[-2],l2[-1]

('Appple', 'Banana', 'Cherry')

In [17]:
l2[0],l2[1],l2[2]

('Appple', 'Banana', 'Cherry')

In [ ]:
# possitive index of Apple is 0

# negitive index of Apple is -3

# positive and negitive index

In [103]:
for i in range(len(l2)):
    print(l2[i])

Apple
Banana
Cherry

#### for i in range(len(l3)):
    print(l3[i])

In [105]:
for i in range(len(l4)):
    print(l4[i])

1
2
3
A
B
C
10.5
True
(20+30j)

In [ ]:
# possitive index of Apple is 0
# negitive index of Apple is -3
# positive and negitive index

In [108]:
for i in range(len(l2)):
    print(f"the possitive index is {i} of {l2[i]}")

the possitive index is 0 of Apple
the possitive index is 1 of Banana
the possitive index is 2 of Cherry

In [109]:
for i in range(len(l2)):
    print(i,i-3)

0 -3
1 -2
2 -1

In [133]:
for i in range(len(l3)):
    print(i,i-len(l3))

0 -6
1 -5
2 -4
3 -3
4 -2
5 -1

$mutable-immutable$

In [111]:
l7=[1,2,3,4]
l7[0]=100
l7

[100, 2, 3, 4]

In [ ]:
**List are mutable**
**strings are immutable**

$slice$

In [ ]:
list1=[1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana','cherry']

list1[3:14:2]  # p
list1[3:14:-2] # np
list1[3:-14:2]   # np strare=3  step=+2  last=-14-1=-15
list1[-3:-14:-2] # p
list1[-3:-14:2] # np
list1[-3:14:2] # 
list1[3:-14:2]
list1[::]
list1[::-1]  # Reverse

In [ ]:
-16  -15  -14  -13  -12  -11  -10  -9  -8 -7   -6  -5   -4    -3      -2     -1
  1,  2,   3,   4,  'A', 'B',  'C','D','E'100, 200 ,300,400,'Apple','Banana','Cherry'
  0   1    2    3    4    5     6   7   8   9  10   11   12    13      14       15

In [122]:
list1=[1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana','cherry']
list1[3:14:2]

[4, 'A', 'C', 'E', 200, 400]

In [123]:
list1=[1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana','cherry']
list1[3:14:-2]

[]

In [124]:
list1=[1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana','cherry']
list1[3:-14:2]

[]

In [125]:
list1=[1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana','cherry']
list1[-3:-14:-2]

['Apple', 300, 100, 'D', 'B', 5]

In [126]:
list1[-3:-14:2]list1=[1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana','cherry']
list1[-3:-14:2]

[]

In [ ]:
# possitive index of Apple is 0
# negitive index of Apple is -3
# positive and negitive index

In [3]:
list1=[1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana','cherry']
n=len(list1)
for i in range(n):
    print(f"possitive index is {list1[i]} of {i}")

possitive index is 1 of 0
possitive index is 2 of 1
possitive index is 3 of 2
possitive index is 4 of 3
possitive index is 5 of 4
possitive index is A of 5
possitive index is B of 6
possitive index is C of 7
possitive index is D of 8
possitive index is E of 9
possitive index is 100 of 10
possitive index is 200 of 11
possitive index is 300 of 12
possitive index is 400 of 13
possitive index is Apple of 14
possitive index is Banana of 15
possitive index is cherry of 16

In [4]:
list1=[1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana','cherry']
n=len(list1)
for i in range(n):
    print(f"negitive index is {i-n} of the list {list1[i]}")

negitive index is -17 of the list 1
negitive index is -16 of the list 2
negitive index is -15 of the list 3
negitive index is -14 of the list 4
negitive index is -13 of the list 5
negitive index is -12 of the list A
negitive index is -11 of the list B
negitive index is -10 of the list C
negitive index is -9 of the list D
negitive index is -8 of the list E
negitive index is -7 of the list 100
negitive index is -6 of the list 200
negitive index is -5 of the list 300
negitive index is -4 of the list 400
negitive index is -3 of the list Apple
negitive index is -2 of the list Banana
negitive index is -1 of the list cherry

In [129]:
list1=[1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana','cherry']
n=len(list1)
for i in range(n):
    print(f"possitive index is {i} and negitive index is {i-n} of {list1[i]}")

possitive index is 0 and negitive index is -17 of 1
possitive index is 1 and negitive index is -16 of 2
possitive index is 2 and negitive index is -15 of 3
possitive index is 3 and negitive index is -14 of 4
possitive index is 4 and negitive index is -13 of 5
possitive index is 5 and negitive index is -12 of A
possitive index is 6 and negitive index is -11 of B
possitive index is 7 and negitive index is -10 of C
possitive index is 8 and negitive index is -9 of D
possitive index is 9 and negitive index is -8 of E
possitive index is 10 and negitive index is -7 of 100
possitive index is 11 and negitive index is -6 of 200
possitive index is 12 and negitive index is -5 of 300
possitive index is 13 and negitive index is -4 of 400
possitive index is 14 and negitive index is -3 of Apple
possitive index is 15 and negitive index is -2 of Banana
possitive index is 16 and negitive index is -1 of cherry

In [ ]:
##########################  07 feb 2024  #################################################################################

In [2]:
list1=[1,2,3,['A','B',]]

# get the index of 'B'
# Retrive 'B' bby using index

len(list1)

4

In [5]:
list1[3]

['A', 'B']

In [4]:
o1=list1[3]
o1[1]

'B'

In [9]:
o1=list1=[1,2,3,['A','B',]]
o1=list1[3]
o1[1]

list1[3][1]

'B'

In [16]:
list2=[['Appple','Banana']]
len(list2)
list2[0][0]

'Appple'

In [8]:
list2=[[['Appple','Banana']]]
len(list2)
list2[0][0][1]

'Banana'

In [16]:
list2=[['Appple','Banana']]
len(list2)
list2[0][0],list2[0][1]

('Appple', 'Banana')

In [27]:
list3=[['A','B',[1,20]]]
# one    0
len(list3)
list3[0][2][1]

20

In [34]:
list8=[[["hyd","asif","python"],[100,"data",500]]]
len(list8)
list8[0][::-1]
list8[0][0][0] # 'hyd'
list8[0][1][1] # 'data'
list8[0][1][2] # 500
list8[0][0][1]  # 'asif'
list8[0][0][2] # 'python'
list8[:]    # [[['hyd', 'asif', 'python'], [100, 'data', 500]]]
list8[::] # [[['hyd', 'asif', 'python'], [100, 'data', 500]]]

[[['hyd', 'asif', 'python'], [100, 'data', 500]]]

In [41]:
list4=['hyderabad',['A','B',[1,20]]]
len(list4)
#list4[1][2][1]
#list4[0]  # 'hyderabad'
#list4[1]  # ['A', 'B', [1, 20]]
#list4[1][2]  # [1, 20]
list4[1][2][1] # 20

20

In [36]:
list5=[['car']]
len(list5)
list5[0][0]

'car'

In [37]:
list6=[[['bus']]]
list6[0][0][0]

'bus'

In [60]:
list7=[[[[[[[['cherry',['Apple']]]]]]]]]
len(list7)
list7[0]

[[[[[[['cherry', ['Apple']]]]]]]]

In [61]:
list7=[[[[[[[['cherry',['Apple']]]]]]]]]
len(list7)
#list7[0]
#list7[0][0][0][0][0][0][0]  # ['cherry', ['Apple']]
#list7[0][0][0][0][0][0][0][0] # 'cherry'
list7[0]

[[[[[[['cherry', ['Apple']]]]]]]]

In [ ]:
l1=['Hyd','Mumbai','Bhopl','chennai']
# print the element which are having len of charecters of >5:
# idea: iterate thruugh list(## for loop)

In [42]:
l1=['Hyd','Mumbai','Banglore','chennai']
for i in l1:
    if len(i)>5:
        print(i)

Mumbai
Banglore
chennai

In [45]:
l1=['Hyd','Mumbai','Banglore','chennai']
# print all upper case

for i in l1:
    print(i.upper())

HYD
MUMBAI
BANGLORE
CHENNAI

In [46]:
l1=['Hyd','Mumbai','Banglore','chennai']

for i in l1:
    print(i.lower())

hyd
mumbai
banglore
chennai

In [63]:
l1=['Hyd','Mu#mbai','Ba#nglore','chennai']
# etrive the elements which are not having '#'
for i in l1:
    print(i)
    if '#' not in i:
        print(i)

Hyd
Hyd
Mu#mbai
Ba#nglore
chennai
chennai

In [ ]:
str1='hello my name is python'
# identify myy name max len word
# min len of word
# idea: apply the split operation : list of words
#      max    min

In [64]:
str1='hello my name is python'
str1.split()

['hello', 'my', 'name', 'is', 'python']

In [65]:
max(str1.split()),min(str1.split())

('python', 'hello')

In [64]:
str1='hello my name is python'
# identify my name max len word
# min len of word
# idea: apply the split operation : list of words
#      max    min 

l1=str1.split()
max(l1,key=len),min(l1,key=len)

('python', 'my')

**iterable**
- if you able to print char or elements using for loopp
- list.string.tuple.dic

In [ ]:
qns_list=['who is pm of india',
    'what is  capital of india?',
     'No of states in india?',
     'who is the capitain of ICT']


ans_list='moodi','delhi',29,'Rohith sharma']

# you need to iterate through ans list
# an1='who is pm of india'
# ans=input("enter your answer")

In [89]:
qns_list=['who is pm of india',
    'what is  capital of india?',
     'No of states in india?',
     'who is the capitain of ICT']

ans_list=['modi','delhi','29','Rohith sharma']
marks=0
for i in range(len(qns_list)):
    print(qns_list[i])
    answer=input("enter the answer:")
    if answer.casefold()==ans_list[i].casefold():
        marks=marks+1
        
marks

who is pm of india
enter the answer:modi
what is  capital of india?
enter the answer:delhi
No of states in india?
enter the answer:29
who is the capitain of ICT
enter the answer:Rohith sharma

4

In [ ]:
#####################################################################

$List-Methouds$

In [20]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
list1=[1,2,3,4]

$Clear$

In [11]:
list1.clear()
list1

[]

$Copy$

In [21]:
# Initialize the list .l1
# l2=l1.copy()
# l1.clear()
# print
l1=['A','B','C']
l2=l1.copy()
l1,l2

(['A', 'B', 'C'], ['A', 'B', 'C'])

In [12]:
l1=[1,2,3,4,5,]

In [14]:
l2=l1.copy()
l1

[1, 2, 3, 4, 5]

In [15]:
l2

[1, 2, 3, 4, 5]

In [16]:
l1.clear()
l1

[]

In [17]:
print(l1),print(l2)

[]
[1, 2, 3, 4, 5]

(None, None)

$pop-remove-del$

In [20]:
l1=['A','B','C',1,2,3,]
l1

['A', 'B', 'C', 1, 2, 3]

In [21]:
l1.pop()
# pop will delete the last value/ element by default
# It will return the value

3

In [22]:
l1

['A', 'B', 'C', 1, 2]

In [23]:
l1=['A', 'B', 'C', 1, 2]
l1.pop()

2

In [24]:
l1

['A', 'B', 'C', 1]

In [22]:
l1=['A', 'B', 'C', 1, 2,3,100]
l1.pop(0)
l1

['B', 'C', 1, 2, 3, 100]

In [23]:
l1=['A','B','c',1,2,3,100]
l1.pop()

100

In [27]:
l1=['A', 'B', 'C', 1, 2,3,100]
l1.pop(index=0)
l1

TypeError: list.pop() takes no keyword arguments

In [ ]:
l1.pop() # Remove the last valiue of index=-1
l1.pop(0) # Remove the first element
l1.pop(index=0) # Index=0  error
l1.pop(100) # if 100th index not there: index error
l1.pop('A')  #typt error

In [29]:
l1=['A', 'B', 'C', 1, 2,3,100]
l1.pop(-2)

3

In [30]:
l1[4]

2

In [25]:
l1=['A', 'B', 'C', 1, 2,3,100]
l1.pop([1,2])

# onnly index
# str  ,List , tuple

TypeError: 'list' object cannot be interpreted as an integer

$remove$

In [39]:
l1=['A','B', 'C', 1, 2,'A',3,100]
l1.remove('A')
l1

['B', 'C', 1, 2, 'A', 3, 100]

In [ ]:
#############################################################################
# manually we are not counting the index of element in pop
# that index we are passing through pop
# son that is not removing that particular element

# Drow back : we are manually counting
# Draw back we can over come by using : index

############################################################
# Remove is taking only direct value,no need to provide the index
# Draw back : second accurence will not consider

$index$

In [26]:
l1=['A','B','C',1,2,3,100,20,300,400,500,'Apple']
# I want to delete element :3 using pop
#l1.pop(5)
i=l1.index(400)
l1.pop(i)
l1

['A', 'B', 'C', 1, 2, 3, 100, 20, 300, 500, 'Apple']

In [27]:
l1=['A','B','C',1,2,3,100,20,300,'A',400,500,'Apple']
l1.remove('A')
l1

['B', 'C', 1, 2, 3, 100, 20, 300, 'A', 400, 500, 'Apple']

In [28]:
l1=['A','B','C',1,2,'B',3,100,20,300,'A',400,'B',500,'A','Apple']
#l1.pop(<second A>)
# A=0 A=9 A=12
i1=l1.index('B') # 0
i2=l1.index('B',i1+1)
i3=l1.index('B',i2+1)
print(i1,i2,i3)

1 5 12

In [ ]:
- clear

- copy 

- pop

- Remove

- Index

- del

$del$

In [51]:
l1=['A','B','C',1,2,'B',3,100,20,300,'A',400,'B',500,'A','Apple']
l1

['A', 'B', 'C', 1, 2, 'B', 3, 100, 20, 300, 'A', 400, 'B', 500, 'A', 'Apple']

$Append-Extend-Insert$

In [55]:
l1=[100,200]
l1.append(300)
l1.append('Apple')
l1

[100, 200, 300, 'Apple']

In [56]:
l1=[]
l1.append(1)
l1.append(2)
l1.append(3)
l1

[1, 2, 3]

#### append most importand

In [57]:
l1=['Hyd','Munbai','Chennai']
# print the elements which are having len>3
l2=[]
for i in l1:
    if len(i)>3:
        l2.append(i)
        
l2

['Munbai', 'Chennai']

In [60]:
l1=['hyd','mumbai','chennai']
# captalize and save the elements in nev list

In [61]:
l3=[]
for i in l1:
    if len(i)>3:
        l3.append(i)
        
l3

['mumbai', 'chennai']

In [64]:
l3=['hyd','mumbai','chennai']
# captalize and save the elements in new list
l4=[]
for i in l3:
    l4.append(i.capitalize())

l4

['Hyd', 'Mumbai', 'Chennai']

In [35]:
l1=['hyd','mu#mbai','che#nnai']
# save the elementsn which are having '#'
l2=[]
for i in l1:
    if '#' in i:
        l2.append(i)
l2

['mu#mbai', 'che#nnai']

In [72]:
s='hello hai how are you'
# get the summ of all the indexs of 'a' letter

# ilterate it
# Extract the index of 'a'
# and save a new list
# Get the summ of those list


l1=[]
for i in range(len(s)):
    if s[i]=='a':
        l1.append(i)

sum(l1)

21

In [29]:
# Wap ask the user get 10 random numbers
# even list   odd list
# append even values in even list
# odd values in odd list 


import random
even_list,odd_list=[],[]
for i in range(10):
    num=random.randint(1,20)
    if num%2==0:
        even_list.append(num)   
    else:
        odd_list.append(num)
even_list,odd_list

([2, 10, 14, 16, 2, 8, 10], [1, 19, 3])

$Extend$

In [75]:
l1=[1,2,3]
l2=['A','B','C']
l1.extend(l2)
print(l1)
print(l2)

[1, 2, 3, 'A', 'B', 'C']
['A', 'B', 'C']

In [76]:
l1=[1,2,3,]
l2=['A','B','C']
l2.extend(l1)
print(l1)
print(l2)

[1, 2, 3]
['A', 'B', 'C', 1, 2, 3]

In [78]:
l1=[1,2,3]
l2=['A','B','C']
print(l1+l2)  # l1.exted l2
print(l1)
print(l2)

[1, 2, 3, 'A', 'B', 'C']
[1, 2, 3]
['A', 'B', 'C']

- reverse  vs    reversed

- sort    vs   sorted

In [37]:
l5=[1,2,3,4,5,6,100,23,34,45,34,345,'AAA','Bombay']
l5.reverse()
l5

['Bombay', 'AAA', 345, 34, 45, 34, 23, 100, 6, 5, 4, 3, 2, 1]

In [39]:
l6=[1,2,3,4,5,6,100,23,34,45,34,345,]
l6.sort()
l6

[1, 2, 3, 4, 5, 6, 23, 34, 34, 45, 100, 345]

In [41]:
l6.sort(reverse=True)
l6

[345, 100, 45, 34, 34, 23, 6, 5, 4, 3, 2, 1]

In [42]:
l6.sort(reverse=False)
l6

[1, 2, 3, 4, 5, 6, 23, 34, 34, 45, 100, 345]

In [ ]:
############################################################################################################

In [8]:
l5=['asif','sohel','piyush','omkar', 'cheerry']
l5.sort()
l5

['asif', 'cheerry', 'omkar', 'piyush', 'sohel']

In [9]:
l5[::-1]

['sohel', 'piyush', 'omkar', 'cheerry', 'asif']

In [10]:
l5[:]

['asif', 'cheerry', 'omkar', 'piyush', 'sohel']

In [11]:
l5[::]

['asif', 'cheerry', 'omkar', 'piyush', 'sohel']

In [12]:
l5.sort(reverse=True)
l5

['sohel', 'piyush', 'omkar', 'cheerry', 'asif']

In [14]:
l7=[100,8800,5,3,2,9,10]
l7

[100, 8800, 5, 3, 2, 9, 10]

In [16]:
l7.sort(reverse=True)
l7

[8800, 100, 10, 9, 5, 3, 2]

In [17]:
l7.sort(reverse=False)
l7

[2, 3, 5, 9, 10, 100, 8800]

In [1]:
import random
even_list,odd_list=[],[]
for i in range(10):
    num1=random.randint(1,60)
    if num1%2==0:
        even_list=even_list.append(num1)
        
    else:
        odd_list=odd_list.append(num1)
    
even_list,odd_list

AttributeError: 'NoneType' object has no attribute 'append'

In [ ]:
######################################################

$count$

In [1]:
l1=['A','A','A']
l1.count('A')

3

In [2]:
s1='can can you canner can not can you buy can'

In [6]:
l=s1.split()
l

['can', 'can', 'you', 'canner', 'can', 'not', 'can', 'you', 'buy', 'can']

In [ ]:
s1='can can you canner can not can you buy can'
list_words=s1.split()

In [1]:
l1=[]
for word in list_words:
    if word not in l1:
        print(word,list_words.count(word))
        l1.append(word)

can 5
you 2
canner 1
not 1
buy 1

$word-frequency$

In [9]:
s1='can can you canner can not can you buy can'
list_words=s1.split()
l1=[]
for word in l:
    if word not in l1:
        print(word,":",l.count(word))
l1.append(word)


# step1
# can can not in [] True 5 ['can']
# can can not in ['can'] False xxxxxxxx
# you you not in ['can'] True 2 ['can','you']

can : 5
can : 5
you : 2
canner : 1
can : 5
not : 1
can : 5
you : 2
buy : 1
can : 5

$Insert$

In [3]:
l1=[1,2,3,4,100]
l1.insert(3,'A')
l1

# 1,2,3,'A',4,100

[1, 2, 3, 'A', 4, 100]

$Append$

In [10]:
l1=['hyd','mumbai','chennai','Bengaluru']
# l2=['Mumbai','Chennai','Bengaluru']
l2=[]
for i in l1:
    if len(i)>5:
        l2.append(i)

In [6]:
# create the list of squares of 1 to 10 numbers

num=[]
for i in range(1,11):
    num.append(i*i)
num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

$ list$-$comprehenshion$

$patern-1$

## most imp

In [13]:
num=[]
for i in range(1,11):
    num.append(i*i)
num    (())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
num=[<output> <forloop with out:>]

In [15]:
num=[1, 4, 9, 16, 25, 36, 49, 64, 81, 100 for i in range(1,11)]

SyntaxError: invalid syntax (3301564155.py, line 1)

In [17]:
# l1=['hyd','mumbai']
# l2=[]
# for i in l1:
# l2.append(i.capitalize())


l1=['hyd','mumbai']
l2=[]
for i in l1:
    l2.append(i.capitalize())
l2

['Hyd', 'Mumbai']

$pattern-2$

##### for if condition

In [ ]:
l1=['hyd','mumbai','chennai']
l2=[]
for i in l1:
    if len(i)>5:
        l2.append(i)
l2

In [ ]:
l2=[<output> <forloop> <if condition>]

In [18]:
l1=['hyd','mumbai','chennai','beengullur']
l2=[i for i in l1 if len(i)>5]
l2

['mumbai', 'chennai', 'beengullur']

$pattern-3$

#### for-if-else

In [19]:
#num=[<output> <forloop>]
#l2=[<output> <forloop> <if condition>]

l=[]
for i in range(1,10):
    if i%2==0:
        l.append(f'even {i}')
    else:
        l.append(f'odd {i}')
l
#[<if_output> <if condition> else <else_output> <forloop>]

['odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9']

In [20]:
[f'even {i}' if i%2==0 else f'odd {i}' for i in range(1,10)]

['odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9']

In [ ]:
-Strings
- List
- Tuple

- how to read the tuple
- different ways to read tuple
- tuple len max min sum reversed sorted
- concatenation
- in 
- index
- diffference between in and index range  using for loop
- mutable- immutabe
- slice
- methouds

In [21]:
t1=[1,2,3]
type(t1)

list

In [23]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
-  so every on complete your assignments and practice 
- tuple explain me om monday