List
tuple
string
Dictionary

In [3]:
# we are splitting
# the output in form of list
str1='hai how are you'
l1=str1.split()
l1

['hai', 'how', 'are', 'you']

In [4]:
# Now we have list of element are there
# we want to join
l1

['hai', 'how', 'are', 'you']

In [5]:
'-->'.join(l1)

'hai-->how-->are-->you'

In [6]:
'--#--@-->'.join(l1)

'hai--#--@-->how--#--@-->are--#--@-->you'

In [7]:
' $@%**-->>--'.join(l1)

'hai $@%**-->>--how $@%**-->>--are $@%**-->>--you'

In [8]:
s=''
for i in l1:
    print(i)

hai
how
are
you

In [9]:
s=''
for i in l1:
    s=s+i    
s

'haihowareyou'

In [10]:
names=["Ramesh","Suresh","Sathish"]
age=[20,25,30]

# Ramesh age is 20
# Suresh age  is 25
# Satthish age is 30

for i in range(len(names)):
    print(names[i],age[i])

Ramesh 20
Suresh 25
Sathish 30

$zip$

In [11]:
#for i in names : i=Ramesh   i=Suresh   i=Sathish
#for i in age   :  i=20       i=25       i=30     
for i in zip(names,age):
    print(i)

('Ramesh', 20)
('Suresh', 25)
('Sathish', 30)

In [12]:
#for i in names :i=Ramesh   i=Suresh   i=Sathish
#for i in age   :  i=20       i=25       i=30 

for i,j in zip(names,age):
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [13]:
num1,num2=10,20
print(num1)
print(num2)

10
20

In [14]:
def avg(n1,n2,n3):
    return(n1+n2+n3, (n1+n2+n3)/3)

o1,o2=avg(10,20,30)
o1,
o2

20.0

In [15]:
num1,num2=10,20
o1,o2=avg(10,20,30)
i,j in zip(names,age)

('Sathish', False)

In [ ]:
names=["Ramesh","Suresh","Sathish"]
age=[20,25,30]

If botth are together why two lists  ==== Dictionary

In [ ]:
{<key>:<value>}

In [18]:
d1={"Ramesh":20,"Sathish":25,"Sathish":30}
d1
# Ramesh
# Suresh
# Sathish are keys

# 20  25  30 are values

# key values pair togaher

{'Ramesh': 20, 'Sathish': 30}

In [19]:
type(d1)

dict

In [ ]:
how can we distinguish between
lists,
tuple,
set, and
dictionary?

In [21]:
d2={20:"Ramesh",25:"Sathish",30:"Sathish"}
d2

{20: 'Ramesh', 25: 'Sathish', 30: 'Sathish'}

In [22]:
d3={20:20}
d3

{20: 20}

In [23]:
d3={"hello":"hi"}
d3

{'hello': 'hi'}

In [24]:
d4={'$':30}
d4

{'$': 30}

In [25]:
d4={$:30}
d4

SyntaxError: invalid syntax (2520486572.py, line 1)

In [26]:
d4={'$':'30'}
d4

{'$': '30'}

In [27]:
d5={'names':['R','S','A']}
d5

{'names': ['R', 'S', 'A']}

In [28]:
d6={['R','S','A']:'names'}
d6

TypeError: unhashable type: 'list'

In [ ]:
d6={'30':$}
d6

In [29]:
d1={"Ramesh":20,"Sathish":25,"Sathish":30}
d2={20:"Ramesh",25:"Sathish",30:"Sathish"}
d3={"hello":"hi"}
d4={'$':'30'}

In [30]:
d5={$:'30'}  # fail
d5

SyntaxError: invalid syntax (331089691.py, line 1)

In [31]:
d6={'names':['R','S','A']}
d6

{'names': ['R', 'S', 'A']}

In [32]:
d7={'names':['R','S','A']}
d7
# List can be value

{'names': ['R', 'S', 'A']}

In [33]:
d8={['R','S','A']:'names'}
d8

# List can not be a key

TypeError: unhashable type: 'list'

In [34]:
d9={('R','S','A'):'names'}
d9

{('R', 'S', 'A'): 'names'}

In [35]:
d10={'names':('R','s','A')}
d10

{'names': ('R', 's', 'A')}

In [36]:
d11={('I','N','D'): ('R','S','A')}
d11

{('I', 'N', 'D'): ('R', 'S', 'A')}

In [37]:
d={'Fruits':'Apple'}
d13={d:"names"}
d13

TypeError: unhashable type: 'dict'

In [ ]:
# dictionary and list can not be represent as keys

In [ ]:
########## pass ##########
d1={"Ramesh":20,"Sathish":25,"Sathish":30}
d2={20:"Ramesh",25:"Sathish",30:"Sathish"}
d3={"hello":"hi"}
d4={'$':'30'}
d5={'names':['I','N','D']}
d6={'names':('I','N','D')}
d7={('I','N','D'): 'names'}
d8={"Names": {'Fruits':'Apple'}}

In [ ]:
########### fail ###########

d9={$:'30'}
d10={['I','N','D']:'names'}
d11={{'Fruites':'Apple'}:"Names"}

In [40]:
d3={'True':3}
d3

{'True': 3}

In [41]:
d3={True:True}
d3

{True: True}

In [42]:
d1={"Ramesh":20,"Ramesh":25}
d1

# duplicate keys are not allowed

{'Ramesh': 25}

In [43]:
d2={"Ramesh":20,"Suresh":25}
d2

{'Ramesh': 20, 'Suresh': 25}

- max

- min

- len

- sum

In [44]:
d1={"Ramesh":20,"Sathish":25,"Sathish":30}
max(d1)

# Are yoy seeing keys
# are you seeeing values

'Sathish'

In [45]:
d1={"Ramesh":20,"Sathish":25,"Sathish":30}
min(d1)

'Ramesh'

In [46]:
d1={"Ramesh":20,"Sathish":20,"Sathish":20}
min(d1)

'Ramesh'

**Watch only keys**

In [47]:
d2={"Ramesh":20,"Rameshh":20}
min(d2)

'Ramesh'

In [48]:
d2={20:"Ramesh",25:"Sathish",30:"Sathish"}
max(d2)

30

In [49]:
d2={20:"Ramesh",'Suresh':30}
d2

{20: 'Ramesh', 'Suresh': 30}

In [50]:
max([25,30,35]) # 35
max(['A','B','C'])  # 'C'
max([25,'A'])  # error    str vs int not compare

TypeError: '>' not supported between instances of 'str' and 'int'

In [51]:
d2={20:"Ramesh",'Suresh':30}
max(d2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
d1={"Ramesh":20,"Sathish":25,"Sathish":30}
min(d1)

In [52]:
d2={20:"Ramesh",25:"Sathish",30:"Sathish"}
min(d2)

20

In [53]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
len(d1)

3

## sorted

In [54]:
sorted(d1)
#

['Ramesh', 'Sathish', 'Suresh']

In [55]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
for i in reversed(d1):
    print(i)

Sathish
Suresh
Ramesh

In [56]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## reversed

In [57]:
d2={20:"Ramesh",25:"Sathish",30:"Sathish"}
sum(d2)

75

In [58]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,25,30]

In [59]:
sum(l2) # fail
sum(l1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [60]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
sum(d1) # Error
max(d1) # Sure
min(d1) # Rame
len(d1) # 3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [61]:
###########################  day 2 (13/02/24)    ##########################

- How to read

- Different waays to read

- type / min / max / len / sum / sorted / reversed

$concatination$

In [62]:
d1={"Ramesh":20}
d2={"Suresh":30}     # concatination it not required it not works in dictionary
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [63]:
d1*2  # d1+d2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

$in$

In [64]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
'Ramesh' in d1   # True
20 in d1     #false

# keys are importent

#'Ramesh' in d1  # True
#20 in d1      # false

False

In [65]:
for i in d1:
    print(i)

Ramesh
Suresh
Sathish

$index$

In [66]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
# Normal index will not work in doctionary 
# d1[0]  #Error

# if you want retrive the value , by using key we can get
d1['Ramesh']          # keys are imp numbers autoomatically willl come
d1['Suresh']
d1['Sathish']

d1[i]

for i in d1:
    print(i)

Ramesh
Suresh
Sathish

In [67]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
d1['Ramesh']

20

In [68]:
d1['Suresh']

25

In [69]:
d1['Sathish']

30

#### imp

In [70]:
names=['Ramesh','Suresh','Sathhish']
age=[20,25,30]

for i,j in zip(names,age):
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 25
Sathhish age is 30

### imp

In [71]:
names=['Ramesh','Suresh','Sathhish']
for i in d1:
    print(f"{i} age is {d1[i]}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [72]:
##################################################################
d1={"Ramesh":20,"Suresh":25,"Sathish":30}

for i in d1:
    print(i)     # onlly keys
    
#########################################

for i in d1:
    print(i,d1[i])      # keys and values

    
##########################################

Ramesh
Suresh
Sathish
Ramesh 20
Suresh 25
Sathish 30

In [73]:
# if some one give you empty list or str or dictional use likke this

In [74]:
d1,l1,s1={},[],''
s1=s1+'a'
s1=s1+'b'
s1=s1+'c'
s1

'abc'

In [75]:
l1=[]
l1.append(10)
l1.append(20)
l1

[10, 20]

In [76]:
d1={}
d1['even']=[20,30,40]
d1['odd']=[31,33]
d1

{'even': [20, 30, 40], 'odd': [31, 33]}

In [77]:
d1={}
name=input("enter the name:")
city=input("enter the city:")
age=eval(input("enter the age"))
d1['NAME']=name
d1['CITY']=city
d1['AGE']=age
d1

enter the name:
enter the city:
enter the age

SyntaxError: invalid syntax (<string>, line 0)

In [ ]:
d1={}
d1

In [ ]:
l1=[]
l1

In [ ]:
s1=''
s1

- values are mutable

- keys are immutable

In [ ]:
# wap ask the user generate 10 random numbers
#Find the even number and odd number
# output
# {'Even':[20,30,40],'Odd':[35,45]}
# step-1: import random
# step-2: even_list,odd_list=[],[]
# step-3: for loop 10 times
# step-4: num=generate random number 10,100
# step-5: if <condition>:
# step-6: append the values in eve
# step-7: else:
# step-8: append the values in odd list
# step-9: create the dictionary

In [ ]:
import random
even_list,odd_list,d1=[],[],{}
for i in range(10):
    num=random.randint(10,100)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)

d1['Even']=even_list
d1['Odd']=odd_list
d1

In [ ]:
# word frequency
s1='hello how how are you, hello how im good, hello how what are you doing'
# {'hello':3,'how':4,......}
# split the data
l1=s1.split() # list of words
l2=[]
d1={}
for i in l1: # iterator through list
    if i not in l2:
        d1[i]=l1.count(i) # key=i value= l1.count(i)
        l2.append(i)
d1

In [ ]:
s3='hi hi hi hi how are you  you are very beauty bye bye hi hi'
# count each str how many times repeated
l3=s3.split()
l4=[]
d2={}
for i in l3:
    if i not in l4:
        d2[i]=l3.count(i)
        l4.append(i)
d2

In [ ]:
d1={}
d1['hello']=3
d1[i]=l4.count(i)
d1

In [ ]:
=====================================================================================================

In [119]:
d1={'Fruits':['Apple','Banana']}
# retrive banana
d1['Fruits'][0],d1['Fruits'][1]

('Apple', 'Banana')

In [120]:
d1={'Fruites':[{'Apple':50},{'Banana':20}]}
d1['Fruites']  # list
d1['Fruites'][1] # dict
d1['Fruites'][1]['Banana']

20

In [121]:
d1={'Fruites':[{'Apple':[50,150,300]},{'Banana':20}]}
d1['Fruites'][0]['Apple'][2]

300

In [122]:
d1={'Fruites':[
    {'Apple':[50,150,300]},
    {'Banana':20},
    {'cherry':[400,599,299]}
   ]
    }
d1['Fruites']

In [111]:
d1 = {
    'Fruites': [
        {'Apple': [50, 150, 300]},
        {'Banana': 20},
        {'cherry': [400, 599, 299]}
    ]
}

In [ ]:
d1={'Fruites':
[{'Apple':[{50:'Normal',
150:'Average',
300:'Good'}]},
{'Banana':20}]}
d1['Fruites'][0]['Apple'][0][150]

In [78]:
d1={'Fruites':
[{'Apple':[{50:
            [
                 {'Normal':[100,300,400]
                 }
            ]
           }
          ]
     }
    ]
   }
len(d1['Fruites'])
len(d1['Fruites'][0])
len(d1['Fruites'][0]['Apple'])
len(d1['Fruites'][0]['Apple'][0])
d1['Fruites'][0]['Apple'][0][50][0]['Normal'][2]

400

In [79]:
len(d1)

1

In [80]:
len(d1['Fruites']) # 1 ele in list index=0
len(d1['Fruites'][0])
d1['Fruites'][0]['Apple']

[{50: [{'Normal': [100, 300, 400]}]}]

$Methouds$

In [81]:
dir({}) ==dictionaary, 
dir([])== list
dir('') == string
dir(()) == tuple

NameError: name 'dictionaary' is not defined

In [ ]:
dir({})     # dictionry

In [82]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']
â€‹

IndentationError: unexpected indent (641659715.py, line 2)

$keys-values-items$

In [83]:
d1={'Ramesh':20,'Suresh':25,'Santhish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Santhish': 30}

In [84]:
d1.keys()

dict_keys(['Ramesh', 'Suresh', 'Santhish'])

In [85]:
d1.values()

dict_values([20, 25, 30])

In [86]:
d1.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Santhish', 30)])

In [87]:
d1.keys() # to check the type of output
type (d1.keys()) # dict_keys
# so convert dict_keys type to list type

dict_keys

In [88]:
list(d1.keys())

['Ramesh', 'Suresh', 'Santhish']

In [89]:
list(d1.keys())[0]

'Ramesh'

In [90]:
list(d1.keys())[0].lower()

'ramesh'

- clear
- copy 
- get
- pop
- popitem

$clear()$

In [91]:
d1={'Ramesh':20,'Suresh':25,'Santhish':30}

In [92]:
d1.clear()
d1

{}

$copy()$

In [93]:
d1={'Ramesh':20,'Suresh':25,'Santhish':30}
d2=d1.copy()
d2

{'Ramesh': 20, 'Suresh': 25, 'Santhish': 30}

$dict.keys()$

In [94]:
d1={'Ramesh':20,'Suresh':25,'Santhish':30}
d3=0
d1=dict.keys(d1)
d1

dict_keys(['Ramesh', 'Suresh', 'Santhish'])

$get()$

In [95]:
d1={'name': 'Ramesh','age':25}
d2=d1.get('name')
d2

'Ramesh'

$items()$

In [96]:
d1={'name': 'Ramesh','age':25}
d2=d1.items()
d2

dict_items([('name', 'Ramesh'), ('age', 25)])

$keys()$

In [97]:
d1={'name': 'Ramesh','age':25}
d2=d1.keys()
d2

dict_keys(['name', 'age'])

$values()$

In [98]:
d1={'name': 'Ramesh','age':25}
d2=d1.values()                     # values using thius methoud for print values only not keys
d2

dict_values(['Ramesh', 25])

$pop()$

In [99]:
d1={'name': 'Ramesh','age':25}
d2=d1.pop('name')                  # it takes any keys nd prints value
d2

'Ramesh'

In [100]:
d1={'name': 'Ramesh','age':25}
d2=d1.pop('age')                  # it takes any keys and print
d2

25

$popitem()$

In [101]:
d1={'name': 'Ramesh','age':25}
d2=d1.popitem()                  # it prints last key and value only
d2

('age', 25)

$update()$

In [102]:
d1={'name': 'Ramesh','age':25}
d1.update({"fav_persons":"Parents"})      # we want to update into dict new key and value use update()
d1

{'name': 'Ramesh', 'age': 25, 'fav_persons': 'Parents'}

In [103]:
##################### Day3 ##############################

In [104]:
d1={'Ramesh':20,'Suresh':25,'Santhish':30}
d1.pop('Ramesh')                        # LIFO (kye,value)
d1

{'Suresh': 25, 'Santhish': 30}

$get()$

In [105]:
d1={'Ramesh':20,'Suresh':25,'Santhish':30}
d1.get('Ramesh')                           # get the key
d1

{'Ramesh': 20, 'Suresh': 25, 'Santhish': 30}

In [106]:
d1['Ramesh']  # by reference as a key you get the value

20

$update()$

In [107]:
d1={'Ramesh'}
d2={'Suresh'}
d1.update(d2)
d1

{'Ramesh', 'Suresh'}

In [108]:
d1={'Ramesh':20}
d2={'Suresh':25}
d2.update(d1)
d2

{'Suresh': 25, 'Ramesh': 20}