### print statement

In [1]:
num1=10
num1

10

In [2]:
print(num1)

10

In [3]:
num1=10
num2=20
print(num1)
print(num2)

10
20

In [4]:
print("hai how are you =======")

hai how are you =======

In [5]:
print(10,20,30)

10 20 30

In [6]:
print(10,'and',20)     #10 and 20

10 and 20

In [7]:
print('10 and 20')

10 and 20

In [3]:
num1=10
num2=20
print(num1,num2)
print(10,20)
print(num1,'and',num2)
print(10,'and',20)
print('10 and 20')
print(f"{num1}'and'{num2}")

10 20
10 20
10 and 20
10 and 20
10 and 20
10'and'20

In [5]:
num1=10
num2=20
print(num1,num2)
print(10,20)
print(num1,'and',num2)
print('10,'and', 20')
print('10 and 20')
print(f"{num1},'and',{num2}")

10 20
10 20
10 and 20
, 20
10 and 20
10,'and',20

In [11]:
a=10
b=20
c=a+b
# the addition of 10 and 20 is 30
print("the addition of",a,'and',b,'is',c)

the addition of 10 and 20 is 30

In [7]:
a=200
b=300
print("the addition numbers of ",a,'and',b)

the addition numbers of  200 and 300

In [12]:
# take your name in a variable
# take you city in a variable
# take your age in a age variable
# my name is python, im from hyderabad and im 10 years old

In [14]:
name="python"
city="hyderabad"
age=10
print("my name is",name)
print("im from",city)
print("im",age,'years old')
print("my name is",name,',','im from',city,'and im',age,'yearsold.')

my name is python
im from hyderabad
im 10 years old
my name is python , im from hyderabad and im 10 yearsold.

In [1]:
name="asif"
city="kmr"
study="m.com"
qualities="good"
print(f"i am {name},and i am from {city},i cmpleated my {study},recently  and  i am {qualities},i am happy")

i am asif,and i am from kmr,i cmpleated my m.com,recently  and  i am good,i am happy

### Method-2

### format

In [15]:
a=10
b=20
c=a+b

# the addition of 10 and 20 is 30.

print("the addition of {} and {} is {}.".format(a,b,c))

the addition of 10 and 20 is 30.

In [26]:
name='python'
city='hyd'
age=10
print("my name is {}, im from {} and im {} years old".format(name,city,age))

my name is python, im from hyd and im 10 years old

In [13]:
name="asif"
city="kmr"
study="m.com"
qualities="good"
print("i am {}, and i am from {}, i cmpleated my {}, recently and {},i am happy".format(name,city,study,qualities))

i am asif, and i am from kmr, i cmpleated my m.com, recently and good,i am happy

### Methoud-2

In [9]:
a=10
b=20
c=a+b

# the addition of 10and 20 is 30.

print(f"the addition of {a} and {b} is {c}")

the addition of 10 and 20 is 30

In [10]:
name='python'
print(f"my name is {name}")

my name is python

In [11]:
name='python'
city='hyd'
age=10
print(f"my name is {name}, im from {city} and im {age} years old")

my name is python, im from hyd and im 10 years old

### end

In [12]:
print("hai",end='------->')
print('hello')

hai------->hello

In [14]:
print("hai baby how are you i am so lucky because of i met you",end='--------->')

hai baby how are you i am so lucky because of i met you--------->

In [18]:
print('asif',end='learning')
print('python')

asiflearningpython

### sep

In [19]:
print("hello",'hai',sep='and')

print("hello",'and','hai')

helloandhai
hello and hai

In [21]:
print(1,2,3,4,5,6,sep='---->')
# 1---->2---->3---->4---->5----->6

1---->2---->3---->4---->5---->6

- foormat
- fstring
- end
- sep