### 2)

In [3]:
string="Hello world"
for i in reversed(string):
    print(i,end='')

dlrow olleH

In [4]:
string="Hello worls"
string[::-1]

'slrow olleH'

## 8)

In [50]:
s1="asif","data","science","google"
s1.replace("asif","bye")
s1

AttributeError: 'tuple' object has no attribute 'replace'

In [42]:
type(s1)

dict

## immutable

In [34]:
tup1=("hyd","secendrabad","helo","saturday")
tup1.replace('hyd','bye')
tup1

AttributeError: 'tuple' object has no attribute 'replace'

In [32]:
type(str)   # immutable means we cant change any variables or

tuple

## 4)

In [52]:
def is_prime(n):
    if n <= 1:
        return False
    elif n <= 3:
        return True
    elif n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = [x for x in range(1, 101) if is_prime(x)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### 1)

In [56]:
phone_number = input("Enter your phone number: ")

phone_number = ''.join(filter(str.isdigit, phone_number))


unique_numbers = list(set(phone_number))

print("Unique numbers in the phone number:", len(unique_numbers))
print("List of unique numbers:", unique_numbers)

Enter your phone number: 4844959494

AttributeError: 'tuple' object has no attribute 'isdigit'

## 3)

In [57]:
S = "ASjhdbgjhdbFYYJGJYTFJHGghdbhj%%6teyt894yt83yt87yt87ye"
unique_chars = set()
for char in S:
    if char not in unique_chars:
        unique_chars.add(char)
unique_chars_list = sorted(list(unique_chars))
print("Unique values in the string:", unique_chars_list)

Unique values in the string: ['%', '3', '4', '6', '7', '8', '9', 'A', 'F', 'G', 'H', 'J', 'S', 'T', 'Y', 'b', 'd', 'e', 'g', 'h', 'j', 't', 'y']

## 5)