In [2]:
tuple1=(10,-3,1,15,28)
tuple2=("python","data","idea")
tuple3=(10,"apple","Time")
tuple4=(10,)
tuple5=(10)
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))
print(type(tuple4))
print(type(tuple5))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>

In [9]:
tuple6=(1,2,-7,6,'home',True)
#print(tuple6[2])
#print(type(tuple6)) #  tuple are immutable
# means we can not change / add anything its not possible in tuple

<class 'tuple'>

In [13]:
tuple9=(1,2,0,-7, 'car','boy',6,'home',True)
#tuple9[0]=13  #'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [14]:
tuple1=(10,-3,1,3,1,15,28)
tuple2=("python","data","idea")
tuple3=(10,"apple","Time")
tuple4=(10,)
tuple5=(10)

In [16]:
print(tuple1)

(10, -3, 1, 15, 28)

In [17]:
tuple1=(10,-3,1,3,1,15,28)
print(tuple1)

(10, -3, 1, 3, 1, 15, 28)

In [21]:
tuple1=(10,-3,1,3,1,15,28)
print(tuple1[1:6])

(-3, 1, 3, 1, 15)

In [25]:
print(tuple1[::2])

(10, 1, 1, 28)

In [26]:
print(len(tuple1))

7

In [30]:
tuple2=[45,67,79]
#tuple3=(tuple1,tuple2)
print(len(tuple3))

2

In [58]:
tuple1=[1,1,2,6,-8,'hello',True,12,6]
tuple2=[45,67,90]
tuple3=tuple1 + tuple2

In [43]:
print(tuple3)

[1, 1, 2, 6, -8, 'hello', True, 12, 6, 45, 67, 90]

In [44]:
print(min(tuple1))   # it will not worrk str and int

TypeError: '<' not supported between instances of 'str' and 'int'

In [45]:
print(min(tuple2))

45

In [46]:
print(max(tuple2))

90

##  count

In [49]:
print(tuple1.count(1))

3

In [51]:
print(tuple1.index(12))

7

In [56]:
tuple5=('jerry')*5

In [57]:
print(tuple5)

jerryjerryjerryjerryjerry

In [55]:
print(tuple5)   # 10 into 50

50

In [59]:
print(tuple(list1))

NameError: name 'list1' is not defined

$sets$

In [60]:
set1={10,True,'hello',1.11}    # duplicates  not allowed
set2={1,2,10,0,53}
print(set1)                    # un order 
                               # indexing not allowed
                                # set items are unchange able
                               # ayou can able to add/and remove 
           # hegoneeous valuse also

{True, 10, 'hello', 1.11}

In [62]:
se1={1,2,3,4,5,88,6,7,'python',True}  # slicing not allowed
print(set1)

{True, 10, 'hello', 1.11}

In [63]:
print(type(set1))  # set

<class 'set'>

In [64]:
set2={}
print(type(set2))   # dictionary

<class 'dict'>

In [70]:
se1={1,2,3,4,5,8,8,6,7,'python',True}

In [65]:
set1[2]=2  # TypeError: 'set' object does not support item assignment

TypeError: 'set' object does not support item assignment

In [66]:
set1.add(99)

In [67]:
print(set1)

{True, 1.11, 99, 'hello', 10}

In [71]:
print(len(set1))

5

In [69]:
print(type(set1))

<class 'set'>

In [74]:
set1.remove(68)

KeyError: 68

In [73]:
print(set1)

{True, 1.11, 99, 'hello'}

In [76]:
print.discard(99)

AttributeError: 'builtin_function_or_method' object has no attribute 'discard'

In [77]:
set1.pop()  # it will remove randomly

True

In [78]:
print(set1)

{1.11, 99, 'hello'}

In [79]:
print(set1.pop())

1.11

In [80]:
print(set1)

{99, 'hello'}

In [82]:
set1.add((13,14,15))

In [83]:
print(set1)

{99, 'hello', (13, 14, 15)}